{% extends "base.html" %}

{% block content %}
<h1>Nutrition Information</h1>

<!-- BMI and Caloric Needs -->
<h2>BMI and Estimated Daily Caloric Needs</h2>
<p>Height: {{ user.height_FT }} Foot {{ user.height_IN }} Inches</p>
<p>Weight: {{ user.weight }} Pounds</p>
<p>Age: {{ user.age }} Years Old</p>
<p>BMI: {{ bmi }}</p>
<p>Estimated Daily Caloric Needs: {{ caloric_needs }}</p>

<!-- Macronutrients Table -->
<h2>Macronutrients</h2>
<table border="1">
    {% for row in macronutrients %}
    <tr>
        <td>{{ row.0 }}</td>
        <td>{{ row.1 }}</td>
    </tr>
    {% endfor %}
</table>

<!-- Essential Minerals Table -->
<h2>Essential Minerals</h2>
<table border="1">
    {% for row in minerals %}
    <tr>
        <td>{{ row.0 }}</td>
        <td>{{ row.1 }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}